
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="text"></div>
    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


</div>
@section Scripts
{
    <script>
        $(function() {
            var text = i18next.t('Title');
            $("#text").append(`<h1 class="display-4">${text}</h1>`);
        });

    </script>
}